:root{
  --mainGrey: rgb(95, 95, 95);
  --lightGrey:rgb(163, 163, 163);
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffc400;
}

body{
    font-family: 'Lato', sans-serif !important;
    background: var(--mainWhite) !important;
    color: var(--mainDark) !important;
}

.text-title{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.text-grey{
    color: const(--mainGrey);
}

.text-bright{
    color: (--lightGrey);
}

.detail-img-top{
    transform: scale(1.5);
}
