:root{
  --mainGrey: rgb(95, 95, 95);
  --lightGrey:rgb(163, 163, 163);
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;
}

body{
    font-family: 'Shadows Into Light', cursive !important;
    background: var(--mainWhite) !important;
    color: var(--mainDark) !important;
}

.text-title{
    font-family: 'Bangers', cursive;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.text-blue{
    color: const(--mainGrey);
}

.text-bright{
    color: (--lightGrey);
}
/* 
.bg{
    color: (var--mainBlue);
} */
